Q1. How do you comment code in Python? What are the different types of comments?

we can comment by using # and """comment"""
two types of comment - single line(#)
                    multiline (""" """)

Q2. What are variables in Python? How do you declare and assign values to variables?

variables are function but defined by user. In python you just have to declare the name of variable(means depend on you )and for assigning
value you just have to equate(=) the variable to its value
Ex - a=9

Q3. How do you convert one data type to another in Python?

to convert one data type from another we just have to forcefully write the data type we want in front of the given data type.
Let's take an example suppose u have to convert the float value 3.00 to integer we have to simply write int(3.00).

In [1]:
int(3.00)

3

Q4. How do you write and execute a Python script from the command line?

by using .py in front of our code name in terminal.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [5]:
my_list=[1,2,3,4,5]
l_new=my_list[1:3:1]
l_new

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

the number which consist of real part and imaginary part(only one part may possible) is called complex number
In python it is represented in form of (a)+(b)j [where j denote iota]

In [6]:
a=3+2j

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [8]:
age=int(25)

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

it's belong to float 
Decleration is below-

In [9]:
price=9.99

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [10]:
name="Brown Man"
print(name)

Brown Man

Q10. Given the string "Hello, World!", extract the substring "World".

In [11]:
s="Hello, World!"
s[7:12:1]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [14]:
is_student=True
print(is_student)

True